body {
  margin: 0;
  font-family: Montserrat sans-serif;
  font-weight: 300;
  letter-spacing: 1.5px;
}
a {
  color: black;
  text-decoration: none;
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social a {
  display: block;
  width: 48px;
  height: 48px;
  text-align: center;
  margin: auto 0;
  color: #000;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 50px rgba(0, 0, 0, 0.1);
}
.social a:hover {
  color: #fff;
}
.social svg {
  margin-top: 7px;
  width: 32px;
  height: 32px;
}
.facebook a:hover {
  background: #3b5998;
}
.instagram a:hover {
  background: #3f729b;
}
.vk a:hover {
  background: #4a76a8;
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  line-height: 70px;
  padding: 0 40px;
  background-color: black;
  font-family: Montserrat;
}
header .address {
  margin: auto 0;
}
header .address a {
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
}
header .address a:hover {
  color: papayawhip;
}
header .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .link .instagram {
  margin: 0 10px;
}
header .link address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px 0 0;
}
header .link address a {
  margin: auto 0;
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
}
header .link address a:hover {
  color: papayawhip;
}
nav {
  margin: 0 0 30px 0;
}
nav .head {
  text-align: center;
  padding: 30px 0;
  text-transform: uppercase;
  font-size: 40px;
}
nav .nav ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav .nav ul li {
  margin: 0 1%;
  list-style-type: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  font-family: Montserrat;
}
nav .nav ul li .nav-list {
  display: inline;
  vertical-align: baseline;
  margin-left: 6px;
  position: relative;
  border-color: inherit;
}
nav .nav ul li .nav-list::after {
  content: ' ';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 3px 0 3px;
  position: absolute;
  top: 45%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-color: transparent transparent transparent transparent;
  border-top-color: inherit;
}
.about {
  margin: 60px 0 0 0;
}
.about .about-logo .about-line {
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
}
.about .about-logo .about-line .about-text-logo {
  border-bottom: solid 1px black;
}
.about .about-logo .about-line .about-text {
  z-index: 2;
  position: absolute;
  top: -21px;
  left: 530px;
  border: solid #fff;
  width: 100px;
  background-color: black;
  text-align: center;
  display: table-cell;
  line-height: 35px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2.5px;
  font-size: 14px;
  font-family: Montserrat;
}
.about .about-logo .about-line .about-text a {
  color: #fff;
}
.about .about-logo .about-line .about-text-bot {
  margin: 50px auto 50px auto;
  max-width: 940px;
  font-weight: 300;
  text-align: center;
  font-family: Montserrat;
}
.about .about-main {
  width: 1160px;
  margin: 0 auto;
}
.about .about-main .about-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.about .about-main .about-item .about-content {
  width: 50%;
  height: 310px;
  background-color: blanchedalmond;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about .about-main .about-item .about-content .about-content-text {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat' sans-serif;
  text-transform: uppercase;
  white-space: pre-line;
}
.about .about-main .about-item .about-content .about-content-trio {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 25px 25px;
  border-color: transparent transparent transparent  blanchedalmond;
  position: absolute;
  top: 130px;
  left: 50%;
}
.about .about-main .about-item .about-content .about-content-img {
  background-repeat: no-repeat;
  background-size: 110%;
  width: 50%;
}
.about .about-main .about-item .about-content .chair {
  background-image: url(../../images/homepage/chair.jpg);
  background-position: 0 65%;
}
.about .about-main .about-item .about-content .women {
  background-image: url(../../images/homepage/women.jpg);
  background-position: 0 60%;
}
.about .about-main .about-item .about-content .glass {
  background-image: url(../../images/homepage/glass.jpg);
  background-position: 0 30%;
}
.about .about-main .about-item .about-content .nirvana {
  background-image: url(../../images/homepage/nirvana.jpg);
  background-position: 0 70%;
}
.about .about-main .about-item a {
  width: 100%;
  height: 100%;
  position: absolute;
}
.about .about-main .about-item a:hover {
  background-color: gray;
  opacity: 0.3;
}
.about .about-main .about-item .about-content-revers {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.about .about-main .about-item .about-content-revers .about-content-trio {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 25px 25px 0;
  border-color: transparent  blanchedalmond transparent transparent;
  top: 130px;
  left: 265px;
}
.start {
  margin: 80px 0 0 0;
}
.start .start-logo .start-line {
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
}
.start .start-logo .start-line .start-text-logo {
  border-bottom: solid 1px black;
}
.start .start-logo .start-line .start-text {
  z-index: 2;
  position: absolute;
  top: -21px;
  left: 480px;
  border: solid #fff;
  width: 200px;
  background-color: black;
  text-align: center;
  display: table-cell;
  line-height: 35px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2.5px;
  font-size: 14px;
  font-family: Montserrat;
}
.start .start-logo .start-line .start-text a {
  color: #fff;
}
.start .start-logo .start-line .start-text-bot {
  margin: 50px auto 50px auto;
  max-width: 940px;
  font-weight: 300;
  text-align: center;
  font-family: Montserrat;
}
.start .start-main {
  background-color: blanchedalmond;
}
.start .start-main .start-conteiner {
  width: 1160px;
  margin: 0 auto;
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.start .start-main .start-conteiner .start-item {
  width: 260px;
  height: 400px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.start .start-main .start-conteiner .start-item img {
  width: 260px;
  height: 400px;
}
.start .start-main .start-conteiner .start-item .start-item-link {
  position: absolute;
  bottom: 10%;
  text-transform: uppercase;
  white-space: pre-line;
  text-align: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.start .start-main .start-conteiner .start-item .start-item-link__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.start .start-main .start-conteiner .start-item .start-item-link__bg:hover {
  background: rgba(0, 0, 0, 0.2);
}
